.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.5%;
  margin: 0;
}
.content {
  margin: 2%;
  display: grid;
  columns: 2;
}
.footer {
  background-color: #282c34;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}

input {
  margin-left: 2%;
}

select {
  margin-left: 2%;
}
.modal {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 400px; 
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1; 
}

.btn {
  font-size: 1rem;
  align-items: center;
  border: 0 none;
  border-radius: 25px;
  color: #fff;
  background-color: rgb(36, 199, 172);
  cursor: pointer;
  margin-bottom: 0;
  padding: 12px 20px;
  width: 30%;
}

.btn:hover {
  background-color: rgba(46, 143, 127, 0.808);
}

.btn-submit {
  font-size: 1rem;
  align-items: center;
  border: 0 none;
  border-radius: 25px;
  color: #fff;
  background-color: rgb(36, 199, 172);
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 20%;
  padding: 10px 12px;
  width: 30%;
  margin: 3px;
}


.btn-modal {
  font-size: 1rem;
  align-items: center;
  border: 0 none;
  border-radius: 25px;
  color: #fff;
  background-color: rgb(36, 199, 172);
  cursor: pointer;
  margin-bottom: 0;
  padding: 10px 12px;
  width: 20%;
  margin: 3px;
}

.btn-modal:hover {
  background-color: rgba(46, 143, 127, 0.808);
}

.close {
  font-size: 1rem;
  align-items: center;
  color: #252525;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0;
  padding: 7px 7px;
  margin-top: 20px;
}

.close:hover{
  color: red;
}

.error-message {
  font-size: smaller;
  color: red;

}